body
{	margin-top:10px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background-color:#707070;
	font: normal small Arial, Helvetica, sans-serif;
	}
	.border
	{border:3px solid #ffffff;
	background-color:#96C942;
	height:91px;
	width:250px;
	}
	.logo{
	text-transform: uppercase;
	font-size:25px;
	color:#ffffff;
	font-weight:bold;
	text-decoration:none;
}
.tag {
	margin: 0;
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
    text-decoration:none;
}
.sys 
{
	margin: 0;
	text-transform:uppercase;
	font-size:14px;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
}

.lblerror
{
	font-size:11px;
	font-family:Tahoma;
	color:Red;
}
.AdminHeaderMsg
{
	font-size:28px;
	font-weight:bold;
	font-family:Tahoma;
	color:#1A50B8;
}
.publicloginTable
{
	background-color:#E0F0ED;
	border:2px;
	border-style:solid;
	border-color:#E0F0ED;
	text-align:center;
}
.admintablestyle
{
	background-color:#E0F0ED;
	border:1px;
	border-color:#E0F0ED;
	border-style:solid;
	text-align:center;
}
.LoginTitle
{
	background-color: #83D0BC;
	font-family: thomba;
	font-size: 14px;
	font-weight: bold;
	color: Black;
}
.btnstyle
{
	background-color: #BDD2CF;
	color: #000000;
	font: 8pt verdana, geneva, lucida, 'lucida grande' , arial, helvetica, sans-serif;
	font-weight: bold;
}
.adminMenu
{
	font-size: 12pt;
	font-family: Verdana;
}